/* - White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%) */

:root{
    --white: hsl(0, 0%, 100%);
    --offwhite: hsl(0, 0%, 94%);
    --lightgrey: hsl(0, 0%, 86%);
    --smokeygrey: hsl(0, 1%, 44%);
    --offblack: hsl(0, 0%, 8%);
}

*, *::before , *::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: var(--lightgrey);
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    height:50px;
    width: 50px;
}

.main{
    /* border: solid black 1px; */
    height: fit-content;
    border-radius:17px;
    border-bottom-right-radius: 54px;
    background-color: var(--white);
    padding:1.9rem;
}